@model ItemTable
@{

}

<h1>修改資料</h1>

<form method="post">
    <input type="hidden" asp-for="ItemId" value="@Model.ItemId">
    <label asp-for="ItemName">修改事項名稱:</label>
    <input type="text" asp-for="ItemName" value="@Model.ItemName">

    <input type="submit" class="btn btn-outline-primary btn-sm" value="送出">
    <a href="/Item/Index" class="btn btn-outline-danger btn-sm">返回</a>
</form>
